.button_edit{
    background-color: #756f6c;
    color: white;
    border: solid 0.5px #756f6c;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;

    &:hover{
        background-color: #756f6c;
        color: white;
        transform: scale(1.10);
    }
}

.footer_edit{
    background-color: #86543b;
}

.header_edit{
    background-color: #86543b;
    color: white;
}