
.button-add {
    background-color: #756f6c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; 
    transition: 0.3s;

    &:hover {
        background-color: #686868;
        color: white;
        transform: scale(1.10);
    }
}

.button-close {
    background-color: #756f6c;
    color: white;
    
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; 
    transition: 0.3s;
    &:hover {
        background-color:#756f6c;
        color: white;
        transform: scale(1.10);
    }
}

.button-save {
    background-color: #756f6c;
    color: white;
    
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; 
    transition: 0.3s;

    &:hover {
        background-color: #756f6c;
        color: white;
        transform: scale(1.10);
    }
}



.Modal-footer{
    background-color: #8f5a40;
    display: flex;
    justify-content: center;
}

.Modal-header{
    background-color:#8f5a40;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white;
}

.c_button{
    
    margin: 0px  0px 0px;
}

.c_list{
    width: 85%;
}

.conteiner{
    display: flex;
    gap: 10px;

}

